@import url("https://fonts.googleapis.com/css2?family=Andada+Pro:ital,wght@0,800;1,800&display=swap");

.sidebar-wrapper {
  height: 100vh;
  width: 100%;
  font-family: "Andada Pro", serif;
  width: 250px;
}

.sidebar {
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  padding: 1.5rem;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  transition: width 0.3s ease;
}

.logoContainer {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.logo {
  width: 40px;
  height: auto;
}

.title {
  margin-left: 0.5rem;
  font-size: 1.5rem;
  color: #3cb371;
  white-space: nowrap;
}

.profileContainer {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.profile {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.profileContents {
  margin-left: 1rem;
}

.profileContents .name {
  font-size: 0.9rem;
  color: #333333;
}

.profileContents p {
  font-size: 0.8rem;
  color: #333333;
}

.contentsContainer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.contentsContainer ul li {
  display: flex;
  align-items: center;
  margin-bottom: 1.2rem;
  padding: 0.5rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: lighter;
}

.contentsContainer ul li:hover {
  background-color: #f0f0f0;
}

.contentsContainer ul li.active {
  background-color: #f4f9f4;
}

.contentsContainer ul li.active a {
  color: #3cb371;
}

.contentsContainer ul li img {
  width: 24px;
  height: 24px;
  margin-right: 1rem;
}

.contentsContainer ul li a {
  text-decoration: none;
  color: #333333;
  font-size: 1rem;
  white-space: nowrap;
}

@media (max-width: 768px) {
  .sidebar {
    width: 200px;
  }
}
